@phoneWidth: 768px;
@linkColor: #1E4488;
@tileBgColor: #CAD5E4;
@featuredColor: #EE3305;

body {font-family: sans-serif;}

.title {
  margin-left: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

.repo {
  border: 1px solid #e6e6e6;
  cursor: pointer;
  float: left;
  height: 160px;
  margin: 10px;
  width: 210px;

  &:hover {background-color: @tileBgColor;}

  // http://apps.eky.hk/css-triangle-generator/
  .featuredCorner {
    border-color: transparent @featuredColor transparent transparent;
    border-style: solid;
    border-width: 0 20px 20px 0;
    float: right;
    height: 0;
    width: 0;
  }

  .content {
    margin: 5px;

    .name {
      font-size: 1em;
      margin: 0 0 2px 0;

      a {
        color: @linkColor;
        text-decoration: none;
      }
    }

    .language {
      color: #999;
      font-size: 12px;
      margin-bottom: 2px;
    }

    .description {font-size: 12px;}
  }
}

